<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.junbao.yubao.live.living.provider.dao.mapper.ILivingRoomMapper">

    <resultMap id="dataMap" type="cn.junbao.yubao.live.living.provider.dao.po.LivingRoomPO">
        <id column="id" property="id" />
        <result column="anchor_id" property="anchorId"/>
        <result column="type" property="type" />
        <result column="room_name" property="roomName" />
        <result column="covert_img" property="covertImg" />
        <result column="status" property="status" />
        <result column="watch_num" property="watchNum"/>
        <result column="good_num" property="goodNum" />
        <result column="start_time" property="startTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <insert id="insertOne" parameterType="cn.junbao.yubao.live.living.provider.dao.po.LivingRoomPO">
        INSERT INTO living_room (
        room_id,
        anchor_id, type, room_name,
        covert_img, status, watch_num,
        good_num, start_time, update_time
        ) VALUES (
        #{roomId},
        #{anchorId,jdbcType=BIGINT},
        #{type,jdbcType=INTEGER},
        #{roomName,jdbcType=VARCHAR},
        #{covertImg,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        #{watchNum,jdbcType=INTEGER},
        #{goodNum,jdbcType=INTEGER},
        #{startTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <delete id="deleteByRoomId" parameterType="java.lang.Integer">
        delete living_room where room_id = #{roomId};
    </delete>


    <select id="selectByRoomId" resultMap="dataMap">
        select *
        from living_room where room_id = #{roomId};
    </select>

    <select id="selectLivingRoomPage" resultMap="dataMap">
        SELECT * FROM living_room
            where type = #{type} and status = true
            LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="selectAll" resultMap="dataMap">
        select * from living_room where type = #{type} and status = true
        order by start_time desc
    </select>
    <select id="selectOneByRoomId" resultMap="dataMap">
        select * from living_room
        where roomId = #{roomId} and status = ture
        limit 1
   </select>

</mapper>
